{% extends 'main/base.html' %}

{% block content %}

{% if request.user.is_authenticated and user.username == profile.username %}
    <h1 class="full-name">
        <span>{{profile.first_name}} </span><span>{{profile.last_name}}</span>
    </h1>
    <p>{{profile.username}}</p>
    <p>{{profile.email}}</p>
    
    {% if profile.is_company %}
    <p>{{profile.company.field}}</p>
    {% endif %}

    {% if profile.is_company %}
    <h1>My Services</h1>
    {% else %}
    <h1>Previous Requested Services</h1>
    {% endif %}
{% else %}
    {% if profile.is_company %}
        <h1 class="full-name">
            <span>{{profile.first_name}} </span><span>{{profile.last_name}}</span>
        </h1>
        <p>{{profile.username}}</p>
        <p>{{profile.email}}</p>
        <p>{{profile.company.field}}</p>
        <h1>My Services</h1>
    {% else %}
    <script>
        // redirect non-profile-owners to login after 5 seconds
        setTimeout(function () {
            window.location.href = "{% url 'login_user' %}"
        }, 1)
    </script>
    {% endif %}
{% endif %}
{% endblock content %}