{% extends 'main/base.html' %}

{% block content %}
<section class="non-hero-container">
  <div class="register-form">
    <form method="POST">
      {% csrf_token %}

      {% for input in form %}
      <div class="items">

        {{input}}

        {% if input.help_text %}
        <p>{{input.help_text}}</p>
        {% endif %}

        {% for error in input.errors %}
        <p class="error error-message">{{ error }}</p>
        {% endfor %}

      </div>
      {% endfor %}

      <div class="submit">
        <input class="btn-link" type="submit" value="Submit">
      </div>
    </form>
  </div>
</section>
{% endblock %}