{% extends 'main/base.html' %}

{%block content %}
<section class="non-hero-container">
    <h1 class="select-register-h1">Welcome to netfix.</h1>
    <div class="select-register-container">
        <div class="select-register">
            <p>Choose whether you want to be a customer or a company.</p>
            <a class="btn-link" href="{% url 'register_company' %}">Company</a>
            <a class="btn-link" href="{% url 'register_customer' %}">Customer</a>
        </div>
    </div>
</section>
{% endblock %}