<nav class="navbar">
    <a class="royal-hover" href="{% url 'service_list' %}">Services</a>

    <h1><a href="{% url 'home' %}">NET<span class="logo">FIX</span></a></h1>
    <ul>
        <li><a href="{% url 'services_field' 'air-conditioner' %}">Air Conditioner</a></li>
        <li><a href="{% url 'services_field' 'carpentry' %}">Carpentry</a></li>
        <li><a href="{% url 'services_field' 'electricity' %}">Electricity</a></li>
        <li><a href="{% url 'services_field' 'gardening' %}">Gardening</a></li>
        <li><a href="{% url 'services_field' 'home-machines' %}">Home Machines</a></li>
        <li><a href="{% url 'services_field' 'house-keeping' %}">House Keeping</a></li>
        <li><a href="{% url 'services_field' 'interior-design' %}">Interior Design</a></li>
        <li><a href="{% url 'services_field' 'locks' %}">Locks</a></li>
        <li><a href="{% url 'services_field' 'painting' %}">Painting</a></li>
        <li><a href="{% url 'services_field' 'plumbing' %}">Plumbing</a></li>
        <li><a href="{% url 'services_field' 'water-heaters' %}">Water Heaters</a></li>
    </ul>

    <div class="account-dropdown">
        {% if request.user.is_authenticated %}
        <span class="royal-hover">Welcome {{user.first_name}}</span>
        {% else %}
        <span class="royal-hover">Account</span>
        {% endif %}
        <div class="account-options">
            {% if request.user.is_authenticated %}
            <a class="royal-hover" href="{% url 'profile' user.username %}">My Profile</a>
            <a class="royal-hover" href="{% url 'logout_user' %}">Logout</a>
            {% else %}
            <a class="royal-hover" href="{% url 'login_user' %}">Login</a>
            <a class="royal-hover" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>