<nav class="navbar">
    <div class="left-nav">
        <h1><a class="logo" href="{% url 'home' %}">NET<span>FIX</span></a></h1>
        <div class="services-dropdown">
            <a class="royal-hover" href="{% url 'service_list' %}">Services</a>
            
            <div class="services-options">
                <a class="royal-hover" href="{% url 'services_field' 'air-conditioner' %}">Air Conditioner</a>
                <a class="royal-hover" href="{% url 'services_field' 'carpentry' %}">Carpentry</a>
                <a class="royal-hover" href="{% url 'services_field' 'electricity' %}">Electricity</a>
                <a class="royal-hover" href="{% url 'services_field' 'gardening' %}">Gardening</a>
                <a class="royal-hover" href="{% url 'services_field' 'home-machines' %}">Home Machines</a>
                <a class="royal-hover" href="{% url 'services_field' 'house-keeping' %}">House Keeping</a>
                <a class="royal-hover" href="{% url 'services_field' 'interior-design' %}">Interior Design</a>
                <a class="royal-hover" href="{% url 'services_field' 'locks' %}">Locks</a>
                <a class="royal-hover" href="{% url 'services_field' 'painting' %}">Painting</a>
                <a class="royal-hover" href="{% url 'services_field' 'plumbing' %}">Plumbing</a>
                <a class="royal-hover" href="{% url 'services_field' 'water-heaters' %}">Water Heaters</a>
            </div>
        </div>
    </div>

    <div class="account-dropdown">
        {% if request.user.is_authenticated %}
        <span class="royal-hover welcome-nav-text">Welcome {{user.first_name}}</span>
        {% else %}
        <span class="royal-hover">Account</span>
        {% endif %}
        <div class="account-options">
            {% if request.user.is_authenticated %}
            <a class="royal-hover" href="{% url 'profile' user.username %}">My Profile</a>
            <a class="royal-hover" href="{% url 'logout_user' %}">Logout</a>
            {% else %}
            <a class="royal-hover" href="{% url 'login_user' %}">Login</a>
            <a class="royal-hover" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>