<nav class="navbar">
    <a class="royal-hover" href="{% url 'service_list' %}">Services</a>

    <h1><a href="{% url 'home' %}">NETFIX</a></h1>

    <div class="account-dropdown">
        {% if request.user.is_authenticated %}
        <span class="royal-hover">Welcome {{user.first_name}}</span>
        {% else %}
        <span class="royal-hover">Account</span>
        {% endif %}
        <div class="account-options">
            {% if request.user.is_authenticated %}
            <a class="royal-hover" href="{% url 'profile' user.username %}">My Profile</a>
            <a class="royal-hover" href="{% url 'logout_user' %}">Logout</a>
            {% else %}
            <a class="royal-hover" href="{% url 'login_user' %}">Login</a>
            <a class="royal-hover" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>