{% extends 'main/base.html' %}

{% block content %}
{% if request.user.is_company %}
<h1 class="create-h1">create service</h1>
<div class="create-form">
    <form action="" method="POST">
        {% csrf_token %}

        {% for input in form %}
        <div class="form-item">
            <div class="label">
                {{input.label}}:
            </div>
            <div class="input">
                {{input}}
            </div>
        </div>
        {% endfor %}

        <div class="submit">
            <input class="btn-link" type="submit" value="Submit">
        </div>
    </form>
</div>
{% else %}
<div class="error-card">
    {{error}}
</div>

<script>
    // redirect non-company users after 5 seconds
    setTimeout(function () {
        window.location.href = "{% url 'service_list' %}"
    }, 5000)
</script>
{% endif %}
{% endblock %}