{% extends 'main/base.html' %}
{% block title %}
    Request Service
{% endblock %}

{% block content %}
    <div class="basic-form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="items">
                {% for input in form %}
                    {{input}}
                {% endfor %}
            </div>

            <div class="submit">
                <input class="btn-link" type="submit" value="Request">
            </div>
        </form>
    </div>
{% endblock %}