{% extends 'main/base.html' %}

{% block content %}
<section class="non-hero-container">
    <div class="basic-form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="items">
                <h2>Request Service</h2>
                {% for input in form %}
                <label class="custom-label">{{ input.label }}</label>
                {{input}}
                {% endfor %}
            </div>

            <div class="submit">
                <input class="btn-link" type="submit" value="Request">
            </div>
        </form>
    </div>
</section>
{% endblock %}