{% extends 'main/base.html' %}

{% block content %}
<a class="create_service" href="{% url 'service_create' %}">Create Service</a>

<h1>These are services</h1>

<ul>
    {% for service in services %}
    <!-- specify the name of the url path and it's dynamic value -->
    <li> <a href="{% url 'index' service.id %}">neme: {{service.name}}</a></li>
    <!-- the above is similar to this, href="/services/{{service.id}}" -->
    <li> <a href="{% url 'service_update' service.id %}">update</a></li>
    <li>desc: {{service.description}}</li><br>
    {% endfor %}
</ul>

{% endblock content %}