{% extends 'main/base.html' %}

{% block content %}
<div class="service-page">

    <div class="service-content">
        <div class="service-main">
            <h1 class="name">{{service.name}}, kshs{{service.price_hr}}/hour</h1>
            <p class="field">{{service.field}}</p>
            <p class="date">Created on <span>{{service.date}}</span></p>
            <p class="company">Provided by <a href="">company name</a></p>
            <p class="description">{{service.description}}</p>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div>
        <button class="del-btn" onclick="showDeletePopup()">Delete</button>
        <a class="btn-link" href="{% url 'service_update' service.id %}">update</a>
    </div>
    {% endif %}

    <!-- Delete Popup -->
    <div id="deletePopup" class="popup" style="display: none;">
        <div class="popup-content">
            <p>Are you sure you want to delete the service, <span>{{service.name}}</span>?</p>
            <form action="{% url 'service_delete' service.id %}" method="POST">
                {% csrf_token %}
                <button class="cancel-del" type="button" onclick="hideDeletePopup()">Cancel</button>
                <button class="confirm-del" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}