{% extends 'main/base.html' %}

{% block content %}
<section class="non-hero-container">
    <div class="services-header">
        <h1>Services</h1>
        {% if request.user.is_authenticated %}
        {% if request.user.company %}
        <a class="btn-link" href="{% url 'service_create' %}">Create Service</a>
        {% endif %}
        {% endif %}
    </div>

    {% if services %}
    <div class="services-grid">
        {% for service in services %}
        {% comment %}
        <!-- specify the name of the url path and it's dynamic value -->
        <!-- <li> <a href="{% url 'index' service.id %}">neme: {{service.name}}</a></li> -->
        <!-- the above is similar to this, href="/services/{{service.id}}" -->
        {% endcomment %}

        <a href="{% url 'index' service.id %}" class="service-card">
            <div class="card-content">
                <div class="service-category">{{ service.field }}</div>
                <h2 class="service-name">{{ service.name }}</h2>
                <div class="service-price">Kshs {{ service.price_hr }}</div>
                <div class="service-company">by {{service.company}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>Thanks for stopping by. We currently have no services to offer. Kindly check back soon.</p>
    {% endif %}
</section>
{% endblock content %}